.header {
  background-color: rgb(135 66 133);
  position: sticky;
  top: 0;
  z-index: 1;

  nav {
    a {
      background-color: rgba(113, 56, 138, 0);
      font-size: 1.2rem;

      &.icono_header {
        width: 50px;
        margin-right: 1.1rem;
      }
    }
  }
}
