.h1_miembros{
    background-color: rgb(61, 32, 73);
    text-align: center;
    width: 100%;
    padding-top: .1rem;
}

.h1_miembros p{
    color: rgb(226, 144, 226);
    font-size: 1.4rem;
}
div.cartitas {
    margin-top: 1rem;
    
    .card-img-top {
        border-radius: 20px;
    }
}